* {
    box-sizing: border-box;
}

html {
    padding: 0px;
    margin: 0px;
}

body {
    background-color: rgb(0, 65, 11);
    padding: 0px;
    margin: 0px;
    font-family: Georgia;
}

.container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
 }
 
 .container>* {
    margin: 1%;
 }

.logo{
    width:100%;
}

 header {
    padding: 1px 10px;
    margin: 0;
    background-color: rgb(191, 255, 201);
    text-align: center;
    font-size: 1.5em;
    color: rgb(0, 0, 0);
    font-family: "Akaya Kanadaka", serif;
}

h1 {
    font-size: 40px;
}

nav {
    padding: 8px;
    flex: 1 1 100%;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    flex-basis: 100%;
}

nav li {
    margin: 1%;
}

nav li a {
    display: block;
    padding: 8px;
    color: rgb(0, 0, 0);
    background-color: rgb(110, 255, 135);
    border-radius: 15px;
    text-align: center;
    text-decoration: none;
}

nav ul li a.active {
    background-color: rgb(40, 95, 50);
    color: rgb(110, 255, 135);
}

nav li a:hover {
    background-color: rgb(83, 133, 93);
    color: rgb(110, 255, 135);
}

a:hover, a p:hover, a h3:hover {
    transform: scale(1.05);
}

article {
    background-color: rgb(151, 255, 168);
    padding: 0px 8px;
    color: #000000;
    text-align: justify;
    flex: 1 1 100%;
    font-size: 18px;
    align-items: center;
}

article p {
    text-indent: 30px;
}

h2 {
    text-align: left;
    font-size: 25px;
}

.lapok {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

img.valaszt {
    width: 100%;
    border: none;
}

.lapok a {
    flex-basis: 48%;
    margin: 1%;
}

a.nemkep {
    flex-basis: 60%;
    height: 25px;
    margin: 0 0 10% 0;
}

a img {
    width: 100%;
    border: 2px solid black;
}

.szolg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis:100%;
    flex: 1 1 100%;
}

aside {
    background-color: rgb(107, 186, 120);
    padding: 2px 8px;
    margin: 1%;
    color: #000000;
    text-align: justify;
    border-radius: 15px;
    font-size: 18px;
    justify-content: center;
}

.kep {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-between;
    border-radius: 0;
    max-width: 450px;
}

.slider {
    width: 85%;
}

.szoveg {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-between;
}

.gomb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-end;
    width: 100%;
}

.gomb a {
    border-radius: 0;
    background-color: rgb(151, 255, 168);
    padding: 5px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px;
}

div.gomb {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 100%;
}

div.gomb a {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-basis: 48%;
    text-decoration: none;
    border-radius: 0;
    background-color: rgb(107, 186, 120);
    padding: 5px;
    border: 2px solid #000000;
    box-shadow: 5px 5px 5px;
    text-align: center;
    color: #000000;
    margin: 1%;
}

aside img {
    width: 100%;
    margin: 1%;
    border: 2px solid black;
    justify-content: center;
}

aside p {
    text-align: center;
    font-size: 15px;
}

.hely {
    text-align: justify;
    text-indent: 30px;
}

.szoveg p {
    text-align: justify;
    font-size: 15px;
    text-indent: 30px;
}

aside a {
    text-decoration: underline;
    color: #000000;
    text-align: center;
}

h3 {
    font-weight: bold;
    font-size: 20px;
    text-align: center;
}

form {
    background-color: rgb(107, 186, 120);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 5px;
}

div.animacio {
    position: relative;
    flex-basis: 100%;
    height:200px;
    margin-bottom: 40px;
}

img.balalso {
    position:absolute;
    transform:rotate(290deg);
    height: 60%;
    bottom: 0;
    left: 0;
    width: auto;
}

img.jobbalso {
    position:absolute;
    bottom: 0;
    right: 0;
    max-height: 100%;
    width: auto;
}

img.vesszo {
    position: absolute;
    transform:rotate(110deg);
    height: 60%;
    bottom: 0;
    left: 0;
    width: auto;
}

footer {
    background-color: rgb(0, 65, 11);
    color: rgb(125, 255, 147);
    text-align: center;
    font-size: 15px;
    padding: 15px;
}

footer a {
    text-decoration: underline;
    color: rgb(125, 255, 147);
    font-size: 15px;
}

.kapcsolat {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
}

p.copyright {
    font-size: 12px;
}

@media all and (min-width: 600px) {
    nav ul {
        display: flex;
        flex-direction: row;
    }
    nav li {
        flex-basis: 100%;
    }
    .lapok aside {
        padding: 15px;
        flex-basis: 48%;
    }
    .kapcsolat {
        justify-content: center;
    }
    .szoveg{
        flex-basis: 48%;
    }
    .kep {
        width: 48%;
    }
    .lapok a {
        flex-basis: 31%;
    }
    a.nemkep {
        flex-basis: 70%;
        margin: 0% 0% 10% 0%;
    }
    div.gomb a {
        flex-basis: 31%;
    }
}

@media all and (min-width: 768px) {
    .lapok aside {
        padding: 15px;
        flex-basis:31%;
    }
    .kep {
        width: 30%;
    }
    .szoveg{
        flex-basis: 64%;
    }
    .lapok a {
        flex-basis: 23%;
    }
    a.nemkep {
        flex-basis: 50%;
        margin: 0% 15% 10% 15%;
    }
}